# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# Dependency jars are copyrighted by their authors - fetch them yourself, see README
libs/*.jar

# local dev leftovers
run-data
*.log
